header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
    background-color: var(--header-background-color);
    
}

header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/banner/florest.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
    filter: saturate(0);
    opacity: 0.2;
}

.header-content{
    max-width: 700px;
    padding: 5rem 1.25rem;
    text-align: center;
    z-index: 2;
}

.header-content img{
    width: 80%;
}

.header-content p{
    margin: 1.8rem 0 3.1rem;
}

.header-content button{
    border: 0.18rem solid var(--primary-color);
    color: var(--primary-color);
}

.header-content button:hover{
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
}

.world-characters{
    position: absolute;
    width: 100%;
    height: 100%;
}

#top-characters{
    top: 0.5rem;
    height: 100%;
    background-color: var(--character-top-image-color);
    mask: var(--character-top-image-src) bottom / contain no-repeat;
    
}

#bottom-characters {
    position: relative;
    height: 30rem;
    background-color: var(--character-bottom-image-color);
    transform: rotateZ(180deg) scaleX(-1);
    mask: var(--character-bottom-image-src) bottom / contain no-repeat;
}

section {
    display: flex;
    justify-content: center;
    background-color: var(--character-top-image-color);
}

#section-inverted-world{
    margin-top: 2rem;
    gap: 12rem;
}

#section-inverted-world .section-texts{
    width: 41%;
}

#section-inverted-world .section-texts h2{
    max-width: 18.7rem;
}

#section-inverted-world .section-texts p{
    width: 37rem;
}

#section-inverted-world .invert-element{
    position: relative;
    bottom: 8rem;
    height: 25rem;
}

.dark-theme .invert-element{
    transform: rotateZ(180deg) scaleX(-1);
}

#section-stranger-things-trailer{
    gap: 12rem;
    padding-bottom: 3rem;
} 

#section-stranger-things-trailer .section-texts{
    width: 36%;
    text-align: end;
}

.video-frame{
    padding: 0.18rem 0.18rem 0;
    background-image: linear-gradient(var(--primary-color), var(--primary-color-contrast));
    box-shadow: var(--primary-color) -1.56rem 1.5rem;
}

#section-stranger-things-gallery{
    margin-top: 5rem;
    background: var(--background-lamp-image) 200% / 75% no-repeat;
}

#section-stranger-things-gallery .section-text h2{
    width: 64%;
    
}

#section-stranger-things-gallery .gallery-container{
    display: flex;
    margin-top: 5rem;
    margin-left: 1rem;
    gap: 5rem;
    list-style: none;
   
}

#section-stranger-things-gallery .gallery-image{
    width: 14.56rem;
    height: 14.5rem;
    background-color: var(--highlight-color);
    padding: 0.5rem;
    outline: 1.2rem solid var(--highlight-color);
    border: 0.1rem var(--primary-color) solid;
}

#section-stranger-things-gallery .gallery-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#section-form{
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 3rem 0;
    z-index: 2;
}

#section-form::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--header-background-color), #ffffff04),url('../images/backgrounds/florest.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
    filter: saturate(0);
    opacity: 0.2;
    z-index: -1;
}

#section-form p{
    width: 54rem;
    text-align: center;
}

.form-content{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2.5rem;
}

.form-content h3{
    width: 29.6rem;
    color: var(--highlight-color);
}

.form-content span{
    color: var(--primary-color);
}

.form-content form{
    display: flex;
    flex-direction: column;
    width: 36.1rem;
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    padding: 1.5rem;
    box-shadow: var(--highlight-color) 1.56rem 1.5rem;
}

.form-content form label{
    margin-bottom: 0.5rem;
}

.form-content form input{
    height: 2.9rem;
    margin-bottom: 1rem;
    background-color: var(--field-background-color);
    color: var(--primary-color-contrast);
    border: 0.1rem var(--primary-color-contrast) solid;
}

.form-content form textarea{
    background-color: var(--field-background-color);
    color: var(--primary-color-contrast);
    border: 0.1rem var(--primary-color-contrast) solid;
}

#btnSubscribe{
    margin-top: 1rem;
    background-color: var(--highlight-color);
    border: none;
}

.light-theme #btnSubscribe{
    color: var(--primary-color-contrast);
}

.dark-theme #btnSubscribe{
    color: var(--primary-color);
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    height: 10rem;
    background-color: var(--footer-background-color);
    position: relative;
    overflow: hidden;
}

footer::before,
footer::after {
  content: "";
  width: 300px;
  height: 200px;
  background-image: url("../images/footer/tape.svg") ;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -100px;
}

.dark-theme footer::before,
.dark-theme footer::after{
    opacity: 0.1;
}

footer::before {
  left: -50px;
  transform: rotateZ(-20deg);
}

footer::after {
  right: -5px;
  transform: rotateZ(15deg);
}

footer p{
    width: 31rem;
    text-align: center;
}